[submodule "terraform/test-fixtures/v0.15.0_module/.terraform/modules/consul"]
	path = terraform/test-fixtures/v0.15.0_module/.terraform/modules/consul
	url = https://github.com/hashicorp/terraform-aws-consul
