name: docker

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: docker build
      run: docker build -t terraform-linters/tflint .
    - name: docker run
      run: docker run terraform-linters/tflint -v
