name: e2e

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Go
      uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.17
      # Get values for cache paths to be used in later steps 
    - id: cache-paths
      name: Define cache paths
      run: |
        echo "::set-output name=go-cache::$(go env GOCACHE)"
        echo "::set-output name=go-mod-cache::$(go env GOMODCACHE)"
    - name: Restore Cache
      uses: actions/cache@v2.1.6
      with:
        path: |
          ${{ steps.cache-paths.outputs.go-cache }}
          ${{ steps.cache-paths.outputs.go-mod-cache }}
        key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Run e2e
      run: make e2e
