name: generated-code

on: pull_request

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        submodules: true
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.15
    - name: Restore Cache
      uses: actions/cache@v2.1.1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: make code
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        make code && git diff --exit-code
    - name: go run ./rules/awsrules/generator
      run: echo test | go run ./rules/awsrules/generator
