name: install_script

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  vm:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install latest version
      run: |
        ./install_linux.sh
        tflint -v
    - name: Install specific version
      env:
        TFLINT_VERSION: v0.15.0
      run: |
        ./install_linux.sh
        tflint -v
    - name: Install to custom path
      run: |
        mkdir "$TFLINT_INSTALL_PATH"
        ./install_linux.sh
        "$TFLINT_INSTALL_PATH/tflint" -v
      env:
        TFLINT_INSTALL_PATH: ${{ github.workspace }}/install-path
      shell: bash
  container:
    strategy:
      matrix:
        image:
          - hashicorp/terraform
          - arm64v8/alpine
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
      options: --user 0
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        apk add bash curl unzip
    - name: Install latest version
      run: |
        ./install_linux.sh
        tflint -v
    - name: Install specific version
      env:
        TFLINT_VERSION: v0.15.0
      run: |
        ./install_linux.sh
        tflint -v
