name: release

on:
  push:
    branches:
    - '!*'
    tags:
    - v*.*.*

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.16
    - name: Run GoReleaser
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VERSION: v0.143.0
      run: curl -sL https://git.io/goreleaser | bash
