name: release

on:
  push:
    branches:
    - '!*'
    tags:
    - v*.*.*

permissions:
  contents: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
    - name: Install Cosign
      uses: sigstore/cosign-installer@v2.5.0
      with:
        cosign-release: 'v1.10.0'
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v3
      with:
        version: v1.7.0
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
